.header {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-right: 15px;

  .iconButtons {
    height: min-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 25px;

    .counterIcon {
      position: relative;

      .counter {
        position: absolute;
        top: -35%;
        right: -35%;

        $len: 20px;
        width: $len;
        height: $len;
        text-align: center;
        border-radius: 50px;
        background: #ffa542;
        color: white;
        font-weight: 600;
      }
    }

    img:hover {
      cursor: pointer;
    }
  }
}
