.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  padding-right: 15px;

  .iconButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 25px;
  }
}
