.header {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-right: 15px;

  .iconButtons {
    height: min-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 25px;

    img:hover {
      cursor: pointer;
    }
  }
}
