@use '/src/assets/fonts/Montserrat/montserrat.module.scss';

html,
body {
  height: 100%;
  font-family: 'Montserrat';
  font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
